@use "../../../../styles/admin/abstract/index.scss" as *;

.role-wrap {
  display: block;
  background-color: $cms-gray-100;
  border-radius: 8px;
  padding: 6px;
  @include flex(null, center, center, 6px);
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  label {
    cursor: pointer;
  }
  input[type="radio"] {
    display: none;
  }
  .role-text {
    color: $cms-gray-700;
    padding: 8px 16px;
    @include font-theme($bodySm, $m);
  }
  input[type="radio"]:checked + p {
        // display: block;
    background-color: white;
    color: $cms-dark;
    font-weight: $b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 8px 16px;
    border-radius: 8px;
  }
}