footer {
  @include flex($justi: space-between, $align: center, $gap: null);
  padding: 40px 80px;
  background-color: $gray-700;
  color: $white;

  .footer-left {
    color: $gray-500;
    @include font-theme($bodyMd, $m);
    @include flex(true, center, null, 10px);
    h1 {
      width: 121px;
      height: 25px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    span {
      color: $gray-400;
      font-family: "PT Serif Caption", serif;
    }
  }

  .footer-right {
    @include flex($justi: center, $align: center, $gap: 30px);
    li {
      padding: 8px 4px;
    }
  }
}