@use "../../../../styles/admin/abstract/index.scss" as *;

.container {
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 16px;
  @include flex(column, center, center, 12px);
  background-color: $cms-gray-100;
  border-radius: 14px;
  .label {
  cursor: pointer;
  }
  .label > * {
    pointer-events: none;
  }
}

.image {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  overflow: hidden;
  &.preview {
    width: 180px;
    height: 180px;
    cursor: pointer;
  }
  img {
    @include position-center;
    width: 100%;
    height: 100%;
  }
}

.btn-wrap {
  @include flex(null, space-between, center, null);
  padding: 8px 8px 0;
  .reset-btn {
    @include font-theme($bodySm, $b);
    color: $cms-gray-800;
  }
}