@use "../../../../styles/admin/abstract/index.scss" as *;

.container {
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 16px;
  @include flex(column, center, center, 12px);
  background-color: $cms-gray-100;
  border-radius: 14px;
  .label {
  cursor: pointer;
  }
  .label > * {
    pointer-events: none;
  }
}

.image {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 4px;
  overflow: hidden;
  img {
    @include position-center;
    &.preview {
      width: 100%;
      height: 100%;
    }
  }
}