.err-wrap {
  width: 100%;
  height: 100vh;
  @include flex(column, center, center, null);
  text-align: center;
}

.txt-wrap {
  padding: 0 55px 30px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  h1 {
    @include font-theme($display6Xl, $b);
    color: $main-color;
  }
  p {
    @include font-theme($head3Xl-plus, $m);
  }
}

.btn {
  width: 160px;
  padding: 15px 0;
  border-radius: 10px;
  @include font-theme($bodyMd, $m);
  background-color: $main-color;
  color: white;
  &:hover {
    background-color: $main-hover;
  }
}