.btn-wrap {
  padding: 20px;
  border-bottom: 1px solid $gray-300;
  background-color: $bg-color-100;
}

.nav-wrap {
  @include flex($align: center, $gap: 30px);
  color: $gray-700;
}

.nav {
  @include flex($align: center, $gap: 10px);
}

.btn {
  &:hover {
    p {
      text-decoration: underline;
      font-weight: $b;
    }
  }
}