.section {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  background-color: $bright-bg;
}

.slide-wrap {
  width: 100%;
  @include flex($justi: center, $align: center, $gap: 30px);
  overflow: hidden;
}

.tit-wrap {
  @include flex(column, center, center, 8px);
  padding-bottom: 80px;
  p {
    @include font-theme($head3Xl, $b);
  }
}

.img-wrap {
  position: relative;
  width: 100%;
  height: auto;
  &:hover .dim {
    opacity: 1;
  }
}


.dim {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.427);
  @include flex(column, center, center, 10px);
  .logo {
    width: 50px;
    height: 50px;
    @include bgImg("/imgs/logo_youtube.svg", $size: 50px);
  }
  .text {
    color: white;
    @include font-theme($bodyLg, $m);
  }
}