@use "../../../../../../styles/admin/abstract/index.scss" as *;

.title {
  @include font-theme($bodyMd, $m);
  color: $cms-gray-900;
}

.state {
  @include flex(null, null, center, 28px);
  margin-bottom: 24px;
}

.img-wrap {
  display: block;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 4px;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    &:hover {
      transform: scale(1.1);
      transition: all 0.35s ease-in-out;
    }
  }
}

.radio-wrap {
  @include flex(null, null, center, 16px);
}

.add-btn {
  display: block;
  padding: 4px 16px;
  border-radius: 8px;
  background-color: $cms-main-color;
  color: white;
  @include font-theme($bodySm, $m);
  border: 1px solid $cms-main-color;
  cursor: pointer;
  input[type=file] {
    display: none;
  }
  &:hover {
    background-color: $cms-main-700;
  }
}

.btn-wrap {
  margin-top: 16px;
  @include flex(null, null, center, 12px);
}

.form-wrap {
  @include flex(column, null, null, 24px);
  margin-bottom: 36px;
}

.input-wrap {
  @include flex(column, null, null, 8px);
  .label {
    position: relative;
    display: block;
    width: fit-content;
    padding: 0 8px;
    color: $cms-gray-600;
    @include font-theme($bodyMd, $m);
    &::after {
      content: "*";
      position: absolute;
      top: 0;
      right: 0;
      color: $cms-red;
    }
  }
}