@use "../../../../styles/main/abstract/index.scss" as m;

.section {
  width: 100%;
  height: 100vh;
  @include bgImg(null);
}

.titWrap {
  width: 100%;
  height: 100%;
  @include flex(column, center, center, 10px);
  color: white;
  p:first-child {
    @include m.font-theme($display5Xl, $b)
  }
  p:last-child {
    @include m.font-theme($display4Xl, $m)
  }
}