@use "../../../../styles/admin/abstract/index.scss" as *;

.default {
  width: fit-content;
  padding: 8px 16px;
  border-radius: 8px;
  @include font-theme($bodySm, $m);
  &.orange {
    background-color: $cms-info-orange-100;
    color: $cms-info-orange;
  }
  &.green {
    background-color: $cms-info-green-100;
    color: $cms-info-green;
  }
  &.purple {
    background-color: $cms-info-purple-100;
    color: $cms-info-purple;
  }
  &.red {
    background-color: $cms-info-red-100;
    color: $cms-info-red;
  }
  &.yellow {
    background-color: $cms-info-yellow-100;
    color: $cms-info-yellow;
    
  }
}