@use "../../../../../styles/main/abstract/index.scss" as m;

.section {
  position: relative;
  width: 100%;
  height: 430px;
  @include bgImg("/imgs/ministry/kids/kids-main.jpg");
  &.youthful-txt,
  &.text {
    @include flex(column, center, center);
    color: m.$bright-bg;
  }
}

.youthful-txt {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 68px;
  text-shadow: 8px 13px 4.5px rgba(0, 0, 0, 0.4);
  letter-spacing: 0.3em;
}

.text {
  @include m.font-theme($display5Xl, $b);
}