.board-wrap { margin-top: 20px };

.head {
  @include flex(false, space-between, center, null);
  padding: 20px;
  border-top: 1px solid $gray-400;
  border-bottom: 1px solid $gray-400;
  background-color: $gray-100;
  & p:last-child {
    @include font-theme($bodySm, $r);
    color: $gray-600;
  }
}

.content {
  width: 100%;
  height: 100%;
  min-height: 350px;
  padding: 30px;
  border-bottom: 1px solid $gray-300;
  & p {
    @include font-theme($bodyMd, $m);
    white-space: pre-line;
  }
}

.content-img {
  display: inline-block;
  width: 100%;
  max-width: 600px;
  max-height: 800px;
  img {
    display: block;
    width: auto;   // 원본 비율 유지
    height: auto;  // 원본 비율 유지
    max-width: 100%;
    max-height: 100%;
  }
}