@use "../../../../styles/admin/abstract/index.scss" as *;

.aside {
  width: 250px;
  padding: 8px 0;
  border-right: 1px solid $cms-gray-100;
  nav {
    @include flex(column, center, null, 20px);
  }
  &.side-close {
    width: auto;
  }
}

.head {
  width: 100%;
  height: 70px;
  padding: 0 20px;
  @include flex($align: center, $gap: 12px);
  h1 {
    width: 32px;
    height: 32px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .title {
    p:first-child {
      @include font-theme($bodyLg, $b);
      color: $cms-dark;
    }
    p:last-child {
      @include font-theme($bodySm, $r);
      color: $cms-gray-700;
      margin-top: -5px;
    }
  }
}

.menu-wrap {
  width: 100%;
  padding-left: 12px;
  @include font-theme($bodySm, $b);
  color: $cms-gray-800;
  @include flex(column, center, null, 4px);
  .main-menu {
    display: block;
    @include flex($justi:space-between, $align: center);
    padding: 12px 28px;
    border-radius: 30px 0 0 30px;
    div {
      @include flex($align: center, $gap: 8px);
      img {
        width: 20px;
        height: 20px;
      }
    }
    &.active {
      background-color: $cms-main-10P;
      color: $cms-main-color;
      border-right: 8px solid $cms-main-color;
    }
    &:hover {
      border-right: 8px solid $cms-main-color;
    }
  }
}

.sub-wrap {
  width: 100%;
  padding-left: 40px;
  @include flex(column, center, null, 8px);
  .sub-menu {
    display: block;
    padding: 8px 24px;
    border-radius: 24px 0 0 24px;
    &:hover {
      border-right: 8px solid $cms-main-color;
    }
    &.active {
      background-color: $cms-main-10P;
      color: $cms-main-color;
      border-right: 8px solid $cms-main-color;
    }
  }
  &.menu-hover {
    @include flex(column, center, null, 4px);
    position: absolute;
    top: 0;
    left: 52px;
    opacity: 0;
    width: auto;
    min-width: 150px;
    padding: 12px;
    background-color: white;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
    z-index: 1;
    .sub-menu {
      padding: 8px;
      border-radius: 8px;
      &.active {
        color: $cms-main-color;
        background-color: white;
        border-right: unset;
        &:hover {
          background-color: $cms-gray-100;
        }
      }
      &:hover {
        background-color: $cms-gray-100;
        border-right: unset;
      }
    }
  }
}

.aside {
  &.side-close {
    padding: 20px 0;
    nav {
      align-items: center;
    }
    .head {
      height: auto;
      padding: 5px 0;
      justify-content: center;
    }
    .menu-wrap {
      padding: unset;
      gap: 16px;
      li:not(.sub-wrap li) {
        position: relative;
        padding: 0 12px;
      }
      .main-menu {
        padding: 8px;
        border-radius: 4px;
        background-color: white;
        transition: background 0.2s ease-in;
        &.active {
          background-color: unset;
          border-right: unset;
        }
        &:hover {
          border-right: unset;
          background-color: $cms-gray-100;
        }
      }
    }
  }
}

.aside.side-close .menu-wrap li:hover .sub-wrap.menu-hover {
  opacity: 1;
  pointer-events: auto;
}
