.bg-img {
  width: 100%;
  height: 230px;
  @include bgImg("/imgs/top-bg.png");
  h1 {
    width: 100%;
    height: 100%;
    @include flex(true, center, center, null);
    color: $white;
    @include font-theme($head3Xl-b);
  }
}