.wrapper {
  @include grid-col(1fr 1fr 1fr, $gap: 20px);
}

.img {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  &:hover {
    .img::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.438);
    }
    .logo {
      display: block;
    }
    .text-wrap {
      p:first-child {
        text-decoration: underline;
        font-weight: $b;
      }
    }
  }
}

.logo {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 50px;
  height: 50px;
  @include bgImg("/imgs/logo_youtube.svg", $size: 50px);
}

.date {
  @include font-theme($captionXs, $r);
  color: $gray-500;
}