@use "../../base/abstract/index" as *;
@use "./variables" as *;

@mixin font-theme($name, $weight) {
  @include make-font-theme($cms-font, $name, $weight);
}

@mixin modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(159, 159, 159, 0.4);
  backdrop-filter: blur(7.5px);
  z-index: 200;
}