@use "../../base/abstract/index.scss" as *;

// color
$cms-main-color: #7152F3;
$cms-main-900: #250C92;
$cms-main-700: #4F31D0;
$cms-main-600: #5D3DE7;
$cms-main-400: #926dff;
$cms-main-300: #b289ff;
$cms-main-200: #d2a5ff;
$cms-main-100: #E6E2F8;
$cms-main-90P: rgb(113, 82, 243, 0.9);
$cms-main-80P: rgb(113, 82, 243, 0.8);
$cms-main-20P: rgb(113, 82, 243, 0.2);
$cms-main-10P: rgb(113, 82, 243, 0.1);
$cms-main-5P: rgb(113, 82, 243, 0.05);

$cms-bg-300: #f6ebff;
$cms-bg-200: #fbf7ff;
$cms-bg-100: #F0EFFB;
$cms-bg-50: #F8F9FF;

$cms-gray-900: #26252a;
$cms-gray-800: #45444c;
$cms-gray-700: #67666f;
$cms-gray-600: #8b8a92;
$cms-gray-500: #b1b0b5;
$cms-gray-400: #BFBFC3;
$cms-gray-300: #CECDD1;
$cms-gray-200: #DCDCDE;
$cms-gray-100: #F1F1F2;
$cms-gray-50: #F9F9FA;

$cms-red: #F83232;
$cms-dark: #111113;

$cms-info-red: #FD6A6A;
$cms-info-red-100: #FFF0F0;
$cms-info-green: #0CAF60;
$cms-info-green-100: #E7F7EF;
$cms-info-purple: #8C62FF;
$cms-info-purple-100: #F4F0FF;
$cms-info-orange: #FE964A;
$cms-info-orange-100: #FFF0E6;
$cms-info-yellow: #EDD900;
$cms-info-yellow-100: #FFFDED;

$cms-linear-1: #06b6d4;
$cms-linear-2: #6366f1;

$bg-linear: linear-gradient(107.56deg, #667EEA 0%, #764BA2 100%);

$cms-font: (
  displayXl: (size: $displayXl-size, line: $line130, letter: -0.02em),
  titleXl: (size: $titleXl-size, line: $line130, letter: -0.02em),
  titleLg: (size: $titleLg-size, line: $line130, letter: -0.02em),
  bodyLg: (size: $bodyLg-size, line: $line150, letter: -0.02em),
  bodyMd: (size: $bodyMd-size, line: $line150, letter: -0.02em),
  bodySm: (size: $bodySm-size, line: $line140, letter: -0.02em),
  captionXs: (size: $captionXs-size, line: $line150, letter: -0.02em),
  captionXxs: (size: $captionXxs-size, line: $line150, letter: -0.02em),
  labelXxxs: (size: $labelXxxs-size, line: $line150, letter: -0.02em),
);