@use "../../../../styles/main/abstract/index.scss" as m;

.nomal {
  @include flex(column-reverse, center, null, 10px);
  label {
    padding: 0 4px;
    @include m.font-theme($bodyMd, $m);
  }
  input {
    width: 100%;
    height: 50px;
    border: 1px solid m.$gray-400;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    @include m.font-theme($bodySm, $m);
    &:focus {
      border: 1px solid black !important;
    }
  }
}

.check-box {
  @include flex($align: center, $gap: 10px);
  padding: 10px 4px 0;
  input[type=checkbox] {
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  label {
    cursor: pointer;
  }
  input[type=checkbox] + label {
    display: inline-block;
    background-image: url("/imgs/check-box-off.svg");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 20px;
    color: transparent;
    width: 20px;
    height: 20px;
    transition: background-image .3s ease-in-out;
  }
  input[type=checkbox]:checked + label {
    background-image: url("/imgs/check-box.svg");
    transition: background-image .3s ease-in-out;
  }
}