@use "../../../../styles/admin/abstract/index.scss" as *;

.header {
  position: fixed;
  top: 0;
  left: 250px;
  width: 100%;
  width: calc(100% - 250px);
  height: 70px;
  padding: 0 16px;
  border-bottom: 1px solid $cms-gray-200;
  background-color: white;
  z-index: 100;
  &.close {
    left: 61px;
    width: calc(100% - 61px);
  }
  nav {
    width: 100%;
    height: 100%;
    @include flex(null, $justi: space-between, $align: center);

    .menu-wrap {
      @include flex(null, center, center, 20px);
    }
  }
}