@use "../base/reset" as *;
@use "./abstract/font" as *;
@use "../base/abstract/index.scss" as *;
@use "./abstract/variables" as *;

// 공통설정
main {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 139px);
}

.inner {
  width: 100%;
  height: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 80px 40px;
}

@include gen-font-class(false, $font-map, $display6Xl);
@include gen-font-class(false, $font-map, $display5Xl);
@include gen-font-class(false, $font-map, $display4Xl);
@include gen-font-class(false, $font-map, $headXl);
@include gen-font-class(false, $font-map, $headLg);
@include gen-font-class(false, $font-map, $titleXl);
@include gen-font-class(false, $font-map, $titleXl-plus);
@include gen-font-class(false, $font-map, $bodyLg);
@include gen-font-class(false, $font-map, $bodyMd);
@include gen-font-class(false, $font-map, $bodySm);
@include gen-font-class(false, $font-map, $captionXs);
@include gen-font-class(false, $font-map, $captionXxs-plus);
@include gen-font-class(false, $font-map, $captionXxs);

input:focus {
  outline: none;
  border: 1px solid black !important;
}

#youtubeSection {
  .swiper-wrapper {
    width: 555px;
    height: 316px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}