header {
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 0 80px;
  background-color: $white;
  border-bottom: 1px solid $gray-300;
  z-index: 20;
}

nav {
  line-height: 70px;
  @include flex($justi: space-between, $align: center, $gap: null);
}

.main-menu-list {
  @include flex($justi: center, $align: center, $gap: 30px);
  .main-menu {
    position: relative;
    padding: 21px 4px;
    @include font-theme($bodyMd-m);
  }
}

.sub-menu {
  display: none;
  width: max-content;
  position: absolute;
  top: 65px;
  left: -10px;
  background-color: $white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: $shadow;
  li {
    width: 100%;
    padding: 10px;
  }
}

.main-menu-list li:hover .sub-menu {
  display: block;
  a:hover {
    color: $match-color300;
    font-weight: $bold;
  }
}