@use "../../../../styles/main/abstract/index.scss" as m;

.section {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 100px 150px;
  margin: 0 auto;
}

.img-wrap {
  width: 100%;
  @include flex($justi: center, $align: center, $gap: null);
  flex-wrap: wrap;
}

.item-box {
  width: calc(100% / 4);
  height: 243px;
  img {
    width: 100%;
    height: 100%;
  }
}

.img-box {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  &:hover {
    .dim {
      opacity: 1;
    }
  }
  .dim {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    @include flex(column, center, center, 10px);
    p {
      color: white;
    }
  }
}

.txt-wrap {
  @include flex(column, center, center, null);
  p:first-child {
    @include m.font-theme($display4Xl, $m);
  }
  p:last-child {
    @include m.font-theme($display5Xl, $b);
  }
}

.more {
  cursor: pointer;
  &:hover p:last-child {
    text-decoration: underline;
  }
}