.section {
  width: 100%;
  height: 100%;
  padding: 80px;
  @include flex(false, center, center, 80px);
}

.left {
  width: 600px;
  height: 500px;
  img {
    width: 100%;
    height: 100%;
  }
}

.right {
  width: 500px;
  @include flex(true, center, null, 20px);
}

.label {
  color: $main-300;
  text-transform: capitalize;
  @include font-theme($bodyLg-m);
}

.title {
  @include font-theme($head3Xl-plus-b);
  padding-bottom: 15px;
}

.subTxt {
  @include font-theme($bodyMd-m);
}