.table {
  border: 1px solid $gray-400;
  border-radius: 20px;
  overflow: hidden;
}

.table-head, .table-content {
  @include grid-col(1fr 1fr 1fr, $justiItem: center);
  li {
    width: 100%;
    text-align: center;
    padding: 30px 20px;
    &:nth-of-type(2) {
      border-left: 1px solid $gray-300;
      border-right: 1px solid $gray-300; 
    }
  }
}

.table-head {
  @include font-theme($bodyLg, $b);
  color: $match-color300;
  background-color: $bright-bg;
}

.table-content {
  @include font-theme($bodyMd, $m);
  color: $gray-800;
  border-top: 1px solid $gray-300;
  & li:nth-of-type(2) {
    padding-left: 50px;
    text-align: left;
  }
}

.content-wrap {
  @include flex(true, center, null, null);
}