@font-face {
	font-family: 'SUIT Variable';
	font-weight: 100 900;
	src: url('/fonts/SUIT-Variable.woff2') format('woff2-variations');
}

@font-face {
  font-family: "MinSansVF";
  src: url("/fonts/variable/MinSansVF.woff2") format("woff2-variations");
  font-weight: 100 900;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');