@font-face {
	font-family: 'SUIT Variable';
	font-weight: 100 900;
	src: url('/fonts/SUIT-Variable.woff2') format('woff2-variations');
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap');