@use "sass:map";
@use "sass:math";
@use "./variables" as *;

@mixin flex($isCol: false, $justi: null, $align: null, $gap: null) {
  display: flex;
  @if $isCol {
    flex-direction: column;
  }
  @if $justi {
    justify-content: $justi
  }
  @if $align {
    align-items: $align
  }
  @if $gap {
    gap: $gap
  }
}

@mixin bgImg($url, $position:center, $size:cover, $repeat: no-repeat) {
  @if ($url) {
    background-image: url($url);
  }
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}

@mixin grid-col($col, $justi:null, $align:null, $justiItem: null, $gap:null) {
  display: grid;
  @if $col {
    grid-template-columns: $col;
  }
  @if $justi {
    justify-content: $justi
  }
  @if $align {
    align-items: $align
  }
  @if $justiItem {
    justify-items: $justiItem;
  }
  @if $gap {
    gap: $gap
  }
}

@mixin font-style($size, $line, $weight, $letter: null) {
  font-size: $size;
  font-weight: $weight;
  line-height: math.round($size * $line);
  @if ($letter) {
    letter-spacing: $letter;
  }
}

@mixin font-theme($name, $weight) {
  $f: map.get($font-map, $name);
  @include font-style(
    $size: map.get($f, size),
    $weight: $weight,
    $line: map.get($f, line),
    $letter: map.get($f, letter)
  );
}

@mixin gen-font-class ($basename) {
  .#{$basename}-b {
    @include font-theme($basename, $b);
  }
  .#{$basename}-m {
    @include font-theme($basename, $m);
  }
  .#{$basename}-r {
    @include font-theme($basename, $r);
  }
}

@mixin position-center () {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}