$main-color: #482902;
$main-hover: #412A0D;
$match-color200: #D17D09;
$match-color300: #CA8029;
$dark-bg: #402E32;
$black: #000000;
$white: #ffffff;
$red: #DB2F32;

$main-500: #412A0D;
$main-400: #714D28;
$main-300: #9D744C;
$main-200: #CA9D74;
$main-100: #F8C99D;

$bright-bg: #FFF8F0;
$bg-color-200: #FFFAF5;
$bg-color-100: #FFFCF9;

$gray-800: #333333;
$gray-700: #434343;
$gray-600: #616161;
$gray-500: #757575;
$gray-400: #9E9E9E;
$gray-300: #E0E0E0;
$gray-200: #EEEEEE;
$gray-100: #F5F5F5;

$shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

// fonts
$display6Xl: 64px;
$display5Xl: 48px;
$display4Xl: 40px;
$head3Xl-plus: 32px;
$head3Xl: 28px;
$head2Xl: 24px;
$title2Xl: 22px;
$bodyLg: 18px;
$bodyMd: 16px;
$bodySm: 14px;
$captionXs: 12px;
$captionXxs-plus: 11px;
$captionXxs: 10px;

$bold: 700;
$medium: 500;
$regular: 400;

$display6Xl-b: display6Xl-b;
$display6Xl-m: display6Xl-m;
$display6Xl-r: display6Xl-r;
$display5Xl-b: display5Xl-b;
$display5Xl-m: display5Xl-m;
$display5Xl-r: display5Xl-r;
$display4Xl-b: display4Xl-b;
$display4Xl-m: display4Xl-m;
$display4Xl-r: display4Xl-r;
$head3Xl-plus-b: head3Xl-plus-b;
$head3Xl-plus-m: head3Xl-plus-m;
$head3Xl-plus-r: head3Xl-plus-r;
$head3Xl-b: head3Xl-b;
$head3Xl-m: head3Xl-m;
$head3Xl-r: head3Xl-r;
$head2Xl-b: head2Xl-b;
$head2Xl-m: head2Xl-m;
$head2Xl-r: head2Xl-r;
$title2Xl-b: title2Xl-b;
$title2Xl-m: title2Xl-m;
$title2Xl-r: title2Xl-r;
$bodyLg-b: bodyLg-b;
$bodyLg-m: bodyLg-m;
$bodyLg-r: bodyLg-r;
$bodyMd-b: bodyMd-b;
$bodyMd-m: bodyMd-m;
$bodyMd-r: bodyMd-r;
$bodySm-b: bodySm-b;
$bodySm-m: bodySm-m;
$bodySm-r: bodySm-r;
$captionXs-b: captionXs-b;
$captionXs-m: captionXs-m;
$captionXs-r: captionXs-r;
$captionXxs-plus-b: captionXxs-plus-b;
$captionXxs-plus-m: captionXxs-plus-m;
$captionXxs-plus-r: captionXxs-plus-r;
$captionXxs-b: captionXxs-b;
$captionXxs-m: captionXxs-m;
$captionXxs-r: captionXxs-r;

$font-map: (
  display6Xl-b: (size: $display6Xl, weight: $bold, line: 130%, letter: -0.04em),
  display6Xl-m: (size: $display6Xl, weight: $medium, line: 130%, letter: -0.04em),
  display6Xl-r: (size: $display6Xl, weight: $regular, line: 130%, letter: -0.04em),
  display5Xl-b: (size: $display5Xl, weight: $bold, line: 130%, letter: -0.03em),
  display5Xl-m: (size: $display5Xl, weight: $medium, line: 130%, letter: -0.03em),
  display5Xl-r: (size: $display5Xl, weight: $regular, line: 130%, letter: -0.03em),
  display4Xl-b: (size: $display4Xl, weight: $bold, line: 130%, letter: -0.03em),
  display4Xl-m: (size: $display4Xl, weight: $medium, line: 130%, letter: -0.03em),
  display4Xl-r: (size: $display4Xl, weight: $regular, line: 130%, letter: -0.03em),
  head3Xl-plus-b: (size: $head3Xl-plus, weight: $bold, line: 140%, letter: -0.03em),
  head3Xl-plus-m: (size: $head3Xl-plus, weight: $medium, line: 140%, letter: -0.03em),
  head3Xl-plus-r: (size: $head3Xl-plus, weight: $regular, line: 140%, letter: -0.03em),
  head3Xl-b: (size: $head3Xl, weight: $bold, line: 140%, letter: -0.03em),
  head3Xl-m: (size: $head3Xl, weight: $medium, line: 140%, letter: -0.03em),
  head3Xl-r: (size: $head3Xl, weight: $regular, line: 140%, letter: -0.03em),
  head2Xl-b: (size: $head2Xl, weight: $bold, line: 140%, letter: -0.03em),
  head2Xl-m: (size: $head2Xl, weight: $medium, line: 140%, letter: -0.03em),
  head2Xl-r: (size: $head2Xl, weight: $regular, line: 140%, letter: -0.03em),
  title2Xl-b: (size: $title2Xl, weight: $bold, line: 140%, letter: -0.01em),
  title2Xl-m: (size: $title2Xl, weight: $medium, line: 140%, letter: -0.01em),
  title2Xl-r: (size: $title2Xl, weight: $regular, line: 140%, letter: -0.01em),
  bodyLg-b: (size: $bodyLg, weight: $bold, line: 150%, letter: -0.01em),
  bodyLg-m: (size: $bodyLg, weight: $medium, line: 150%, letter: -0.01em),
  bodyLg-r: (size: $bodyLg, weight: $regular, line: 150%, letter: -0.01em),
  bodyMd-b: (size: $bodyMd, weight: $bold, line: 150%, letter: -0.01em),
  bodyMd-m: (size: $bodyMd, weight: $medium, line: 150%, letter: -0.01em),
  bodyMd-r: (size: $bodyMd, weight: $regular, line: 150%, letter: -0.01em),
  bodySm-b: (size: $bodySm, weight: $bold, line: 150%, letter: -0.01em),
  bodySm-m: (size: $bodySm, weight: $medium, line: 150%, letter: -0.01em),
  bodySm-r: (size: $bodySm, weight: $regular, line: 150%, letter: -0.01em),
  captionXs-b: (size: $bodySm, weight: $bold, line: 150%, letter: null),
  captionXs-m: (size: $bodySm, weight: $medium, line: 150%, letter: null),
  captionXs-r: (size: $bodySm, weight: $regular, line: 150%, letter: null),
  captionXxs-plus-b: (size: $captionXxs-plus, weight: $bold, line: 150%, letter: null),
  captionXxs-plus-m: (size: $captionXxs-plus, weight: $medium, line: 150%, letter: null),
  captionXxs-plus-r: (size: $captionXxs-plus, weight: $regular, line: 150%, letter: null),
  captionXxs-b: (size: $captionXxs, weight: $bold, line: 150%, letter: null),
  captionXxs-m: (size: $captionXxs, weight: $medium, line: 150%, letter: null),
  captionXxs-r: (size: $captionXxs, weight: $regular, line: 150%, letter: null),
)