@use "../../../../styles/main/abstract/index.scss" as m;

.section {
  width: 100%;
  height: 100%;
  padding: 80px;
  @include flex(null, center, center, 80px);
}

.left {
  width: 600px;
  height: 500px;
  img {
    width: 100%;
    height: 100%;
  }
}

.right {
  width: 500px;
  @include flex(column, center, null, 20px);
}

.label {
  // color: $main-300;
  color: m.$main-300;
  text-transform: capitalize;
  @include m.font-theme($bodyLg, $m);
}

.title {
  @include m.font-theme($headXl, $b);
  padding-bottom: 15px;
}

.subTxt {
  @include m.font-theme($bodyMd, $m);
}