@use "./abstract/font" as *;
@use "../base/abstract/index.scss" as *;
@use "./abstract/variables" as *;

.admin-grid {
  @include grid-col(auto 1fr);
  .admin-column {
    @include flex(column, center, null, null);
    .inner {
      padding: 40px;
      height: 100%;
      min-height: calc(100vh - 70px);
      background-color: $cms-gray-50;
    }
  }
}

.table-content {
  width: 100%;
  height: 80px;
  @include grid-col(72px repeat(2, 1fr) repeat(3, auto));
  border-top: 1px solid $cms-gray-100;
}

// table 체크박스
.check-box {
  width: 100%;
  @include flex(null, center, center, null);
}

@include gen-font-class(true, $cms-font, $displayXl);
@include gen-font-class(true, $cms-font, $titleXl);
@include gen-font-class(true, $cms-font, $titleLg);
@include gen-font-class(true, $cms-font, $bodyLg);
@include gen-font-class(true, $cms-font, $bodyMd);
@include gen-font-class(true, $cms-font, $bodySm);
@include gen-font-class(true, $cms-font, $captionXs);
@include gen-font-class(true, $cms-font, $captionXxs);
@include gen-font-class(true, $cms-font, $labelXxxs);