@use "../../../../styles/main/abstract/index.scss" as m;

.bg-img {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  @include bgImg("/imgs/page-bg.png");
  @include flex(column, center, center, null);
}

.name-wrap {
  height: 100%;
  color: m.$bright-bg;
  padding: 10px 30px;
  h1 {
    @include m.font-theme($headLg, $b);
  }
  p {
    @include m.font-theme($bodyMd, $m)
  }
}