@use "../../../../styles/admin/abstract/index.scss" as *;

.modal-continer {
  position: absolute;
  border-radius: 12px;
  background-color: white;
  border: 1px solid $cms-gray-50;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.25);
  z-index: 300;
  overflow: hidden;
  &.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.row {
    top: 100%;
    z-index: 100;
    &.change {
      top: unset;
      bottom: 100%;
    }
  }
}

.modal-title {
  @include flex(null, space-between, center, null);
  @include font-theme($bodySm, $b);
  background-color: white;
  padding: 8px 20px;
  border-bottom: 1px solid $cms-gray-100;
  &.wide {
    padding: 16px 20px;
  }
}

.modal-content {
  width: 100%;
  padding: 20px;
  background-color: white;
}

.modal-dim {
  @include modal-bg;
}

.warning-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  .warning-modal-content {
    @include position-center();
    width: 370px;
    min-width: 255px;
    height: fit-content;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
    z-index: 201;
    .top {
      width: 100%;
      padding: 12px 20px 20px;
      @include flex(column, center, flex-end, null);
      .text-wrap {
        width: 100%;
        @include grid-col(auto 1fr, $gap: 12px);
        .icon {
          position: relative;
          width: 40px;
          height: 40px;
          background-color: $cms-info-red-100;
          border-radius: 100px;
          img {
            position: absolute;
            @include position-center;
          }
        }
        .modal-text {
          h5 {
            @include font-theme($bodyMd, $b);
            color: $cms-dark;
          }
          div {
            @include font-theme($bodySm, $m);
            color: $cms-gray-500;
          }
        }
      }
    }
    .btn-wrap {
      width: 100%;
      @include flex(null, flex-end, center, 8px);
      padding: 12px;
      background-color: $cms-gray-100;
    }
  }
}

.profile-modal {
  position: fixed;
  top: 57px;
  right: 0;
  margin-right: 15px;
  width: auto;
  padding: 16px;
  z-index: 200;
  @include flex(column, null, null, 20px);
  background-color: white;
  border-radius: 12px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  .flex {
    width: 100%;
    @include flex(null, null, center, 12px);
  }
  .profile-wrap {
    position: relative;
    button {
      margin-top: 10px;
    }
    &::after {
      position: absolute;
      bottom: -11px;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background-color: $cms-gray-100;
    }
  }

  .modal-btn {
    padding: 8px;
    border-radius: 8px;
    &:hover {
      background-color: $cms-gray-100;
      span {
        color: $cms-gray-800;
      }
    }
    span {
      @include font-theme($bodySm, $b);
      color: $cms-gray-700;
    }
  }
}

.addr-wrap {
  position: fixed;
  @include position-center();
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.flex {
  @include flex(null, null, center, 30px);
}