.wrapper {
  @include flex(false, center, center, 30px);
  margin-top: 80px;
}

.nav-btn {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid $gray-100;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  &:disabled {
    cursor: auto;
    svg {
      path {
        stroke: $gray-500;
      }
    }
  }
}

.page-btn {
  @include flex($align: center, $gap: 20px);
}

.num {
  @extend .nav-btn;
  background-color: unset;
  box-shadow: none;
  border: none;
  @include font-theme($bodyLg, $b);
  color: $gray-700;
  &.active {
    color: white;
    background-color: $main-300;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  }
}

.btn-wrap {
  @include flex($align: center, $gap: 10px);
}