@use "../../../../styles/admin/abstract/index.scss" as *;

.body {
  width: 100%;
  height: 100vh;
  background: $bg-linear;
}

.container {
  width: 100%;
  height: 100%;
  @include flex(null, center, center);
  overflow: hidden;
}

.wrapper {
  width: 420px;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  @include flex(column, center, center, 60px);
}

.head {
  text-align: center;
  h1 {
    @include font-theme($displayXl, $b);
    color: $cms-main-color;
  }
  p {
    @include font-theme($bodyMd, $r);
    color: $cms-gray-500;
  }
}

.form {
  width: 100%;
}

.form-wrap {
  width: 100%;
  @include flex(column, $gap: 40px);
}

.login-set {
  @include flex(null, space-between, center);
  @include font-theme($bodyMd, $m);
  .label {
    color: $cms-gray-500;
  }
  .set-password {
    @include font-theme($bodyMd, $m);
    color: $cms-linear-1;
  }
}

.set-password {
  @include flex(null, flex-end, center, null);
  @include font-theme($bodyMd, $m);
  color: $cms-linear-1;
}

.info-wrap {
  width: 100%;
  text-align: center;
  color: $cms-gray-700;
  h4 {
    margin-bottom: 20px;
    @include flex(null, center, center, 10px);
    &::before {
      content: "";
      width: 110px;
      height: 1px;
      background-color: $cms-gray-700;
    }
    &::after {
      content: "";
      width: 110px;
      height: 1px;
      background-color: $cms-gray-700;
    }
  }
}

.title {
  @include font-theme($bodyMd, $m);
  color: $cms-gray-800;
  padding: 4px;
}

.reset {
  @include flex(column, null, null, 20px);
}

@media screen and (max-width: 450px) {
  .container {
    flex-direction: column;
    &.open {
      justify-content: space-between;
    }
  }
  .mob-wrap {
    @include flex(column, center, center, 50px);
    &.open {
      position: relative;
      top: 20%;
    }
    .head {
      h1, p {
        color: white;
      }
    }
  }

  .wrapper {
    width: 100%;
    &.login {
    height: 0;
    padding: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: translateY(1000px);
    transition: all 0.3s ease-out;
    &.open {
      height: unset;
      transform: translateY(0);
    }
  }
  }

}