@use "../../../../styles/admin/abstract/index.scss" as *;

.inner {
  padding: 100px 30px 30px;
  min-height: calc(100vh - 130px);
  background-color: $cms-gray-50;
  overflow: hidden;
  &.height {
    margin-bottom: 73px;
    min-height: calc(100vh - 203px);
  }
}

.container {
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
}

.wrap {
  width: 100%;
  padding: 0 8px;
  margin-bottom: 12px;
  @include flex($justi: space-between, $align: center);
}

.sub-wrap {
  @include flex(null, flex-end, center, 48px);
  padding: 0 20px;
  margin-bottom: 10px;
  @include font-theme($bodyMd, $m);
}