@use "../../base/abstract/variables" as *;

$main-color: #482902;
$main-hover: #412A0D;
$match-color200: #D17D09;
$match-color300: #CA8029;
$dark-bg: #402E32;
$red: #DB2F32;

$main-500: #412A0D;
$main-400: #714D28;
$main-300: #9D744C;
$main-200: #CA9D74;
$main-100: #F8C99D;

$bright-bg: #FFF8F0;
$bg-color-200: #FFFAF5;
$bg-color-100: #FFFCF9;

$gray-800: #333333;
$gray-700: #434343;
$gray-600: #616161;
$gray-500: #757575;
$gray-400: #9E9E9E;
$gray-300: #E0E0E0;
$gray-200: #EEEEEE;
$gray-100: #F5F5F5;

$shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

$font-map: (
  display6Xl: (size: $display6Xl-size, line: $line130, letter: -0.04em),
  display5Xl: (size: $display5Xl-size, line: $line130, letter: -0.03em),
  display4Xl: (size: $display4Xl-size, line: $line130, letter: -0.03em),
  headXl: (size: $headXl-size, line: $line140, letter: -0.03em),
  headLg: (size: $headLg-size, line: $line140, letter: -0.03em),
  titleXl: (size: $titleXl-size, line: $line140, letter: -0.03em),
  titleXl-plus: (size: $titleXl-plus-size, line: $line140, letter: -0.01em),
  bodyLg: (size: $bodyLg-size, line: $line150, letter: -0.01em),
  bodyMd: (size: $bodyMd-size, line: $line150, letter: -0.01em),
  bodySm: (size: $bodySm-size, line: $line150, letter: -0.01em),
  captionXs: (size: $captionXs-size, line: $line150),
  captionXxs-plus: (size: $captionXxs-plus-size, line: $line150),
  captionXxs: (size: $captionXxs-size, line: $line150),
);