@use "./base/reset" as *;
@use "./abstract/font" as *;

// 공통설정
main {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 177px);
  .inner {
    padding-top: 70px;
  }
}

button {
  cursor: pointer;
}

#youtubeSection {
  .swiper-wrapper {
    width: 555px;
    height: 316px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}