@use "../../../../styles/admin/abstract/index.scss" as *;

.container {
  position: fixed;
  @include position-center();
  z-index: 500;
}

.toast-wrap {
  width: fit-content;
  @include flex(null, center, center, 18px);
  padding: 8px 20px;
  border-radius: 20px;
  &.success {
    background-color: $cms-main-90P;
  }
  &.error {
    background-color: rgba(12, 175, 96, 0.9);
  }
  p {
    color: white;
  }
}