@use "../../../../../styles/main/abstract/index.scss" as m;

.board-wrap { margin-top: 20px };

.head {
  @include flex(null, space-between, center, null);
  padding: 20px;
  border-top: 1px solid m.$gray-400;
  border-bottom: 1px solid m.$gray-400;
  background-color: m.$gray-100;
  & p:last-child {
    @include m.font-theme($bodySm, $r);
    color: m.$gray-600;
  }
}

.content {
  width: 100%;
  height: 100%;
  min-height: 350px;
  padding: 30px;
  border-bottom: 1px solid m.$gray-300;
  & p {
    @include m.font-theme($bodyMd, $m);
    white-space: pre-line;
  }
}

.content-img {
  display: inline-block;
  width: 100%;
  max-width: 800px;
  max-height: 800px;
  img {
    display: block;
    width: auto;   // 원본 비율 유지
    height: auto;  // 원본 비율 유지
    max-width: 100%;
    max-height: 800px;
    object-fit: contain;
  }
}